<a href="https://colab.research.google.com/github/sophiabj/stage-f-01-road-safety/blob/master/Copy_of_Road_Safety.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sys

df1 = pd.read_csv('dftRoadSafety_Accidents_2016.csv')
df2 = pd.read_csv('Cas.csv')
df3 = pd.read_csv('MakeModel2016.csv')

pd.set_option('display.max_columns', None)

df1.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,2016010000005,519310,188730,-0.279323,51.584754,1,3,2,1,01/11/2016,3,02:30,28,E09000005,3.0,4006.0,6.0,30.0,0.0,-1.0,-1.0,0.0,0.0,0.0,5.0,1.0,1.0,0.0,0.0,1.0,1.0,E01000543
1,2016010000006,551920,174560,0.184928,51.449595,1,3,1,1,01/11/2016,3,00:37,18,E09000004,3.0,207.0,6.0,30.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,1.0,1.0,E01000375
2,2016010000008,505930,183850,-0.473837,51.543563,1,3,1,1,01/11/2016,3,01:25,26,E09000017,3.0,4020.0,1.0,30.0,1.0,4.0,3.0,4020.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,1.0,1.0,E01033725
3,2016010000016,527770,168930,-0.164442,51.404958,1,3,1,1,01/11/2016,3,09:15,22,E09000024,3.0,217.0,6.0,30.0,3.0,2.0,3.0,217.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01003379
4,2016010000018,510740,177230,-0.406580,51.483139,1,3,2,1,01/11/2016,3,07:53,25,E09000018,3.0,312.0,3.0,40.0,0.0,-1.0,-1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01002583

In [ ]:
df1.shape

(61758, 32)

In [ ]:
df2.head()

,Accident_Index,Casualty_Class,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker
0,2.01601E+12,1,0,0,0
1,2.01601E+12,1,0,0,0
2,2.01601E+12,1,0,0,0
3,2.01601E+12,2,0,3,0
4,2.01601E+12,1,0,0,0

In [ ]:
df2.shape

(181384, 5)

In [ ]:
df3.head()

,Accident_Index,accyr,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,make,model
0,2016010000005,2016,1,8,0,6,0,0,0,0,0,0,3,1,1.0,1.0,8.0,-1.0,-1.0,-1.0,3.0,1.0,NaN,NaN
1,2016010000005,2016,2,2,0,18,0,0,0,0,0,0,1,1,6.0,1.0,5.0,124.0,1.0,4.0,4.0,1.0,YAMAHA,HW 125 XENTER
2,2016010000006,2016,1,9,0,18,0,2,2,10,1,0,4,1,6.0,2.0,7.0,1461.0,2.0,1.0,10.0,1.0,MERCEDES,A180 BLUEEFFICIENCY SPORT CDI
3,2016010000008,2016,1,9,0,18,0,4,5,0,0,0,1,1,6.0,1.0,5.0,1390.0,1.0,5.0,8.0,1.0,VOLKSWAGEN,SCIROCCO TSI
4,2016010000016,2016,1,11,0,18,0,1,0,0,0,0,0,1,1.0,1.0,8.0,6692.0,2.0,7.0,9.0,1.0,OTHER BRITISH,Missing

In [ ]:
df3.shape

(85856, 24)

In [ ]:
df = pd.merge(df1, df2, on=['Accident_Index'])
df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Casualty_Class,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker
0,2016010X31538,548440,188580,0.140783,51.576492,1,3,2,1,11/10/2016,3,17:59,16,E09000002,3.0,1112.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,1.0,1.0,E01000031,1,0,0,0
1,2016010X31762,553100,184840,0.206353,51.541644,1,3,2,2,11/10/2016,3,15:15,15,E09000016,5.0,0.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01002265,1,0,0,0
2,2016010X31762,553100,184840,0.206353,51.541644,1,3,2,2,11/10/2016,3,15:15,15,E09000016,5.0,0.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01002265,2,2,0,0
3,201601BS70001,527670,179590,-0.162035,51.500783,1,2,1,1,18/01/2016,2,09:20,12,E09000020,3.0,4.0,3.0,30.0,3.0,4.0,6.0,0.0,0.0,4.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01004689,3,0,0,2
4,201601BS70002,526280,179620,-0.182040,51.501365,1,3,2,1,18/01/2016,2,09:57,1,E09000033,3.0,315.0,6.0,30.0,0.0,-1.0,-1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01002891,1,0,0,0

In [ ]:
df_merged = pd.merge(df, df3, on=['Accident_Index'])
df_merged

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Casualty_Class,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,accyr,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,Hit_Object_off_Carriageway,1st_Point_of_Impact,Was_Vehicle_Left_Hand_Drive,Journey_Purpose_of_Driver,Sex_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type,make,model
0,2016010X31538,548440,188580,0.140783,51.576492,1,3,2,1,11/10/2016,3,17:59,16,E09000002,3.0,1112.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,1.0,1.0,E01000031,1,0,0,0,2016,1,9,0,9,0,8,0,0,0,0,3,1,6.0,2.0,6.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,NaN
1,2016010X31538,548440,188580,0.140783,51.576492,1,3,2,1,11/10/2016,3,17:59,16,E09000002,3.0,1112.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,4.0,1.0,1.0,0.0,0.0,1.0,1.0,E01000031,1,0,0,0,2016,2,5,0,18,0,8,0,0,0,0,1,1,6.0,1.0,5.0,-1.0,-1.0,-1.0,-1.0,1.0,NaN,NaN
2,2016010X31762,553100,184840,0.206353,51.541644,1,3,2,2,11/10/2016,3,15:15,15,E09000016,5.0,0.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01002265,1,0,0,0,2016,1,9,0,18,0,2,0,0,0,0,1,1,6.0,2.0,4.0,-1.0,-1.0,-1.0,-1.0,1.0,NaN,NaN
3,2016010X31762,553100,184840,0.206353,51.541644,1,3,2,2,11/10/2016,3,15:15,15,E09000016,5.0,0.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01002265,1,0,0,0,2016,2,9,0,4,0,2,0,0,0,0,2,1,6.0,1.0,7.0,-1.0,-1.0,-1.0,-1.0,1.0,NaN,NaN
4,2016010X31762,553100,184840,0.206353,51.541644,1,3,2,2,11/10/2016,3,15:15,15,E09000016,5.0,0.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01002265,2,2,0,0,2016,1,9,0,18,0,2,0,0,0,0,1,1,6.0,2.0,4.0,-1.0,-1.0,-1.0,-1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61968,2016133AQ0538,448576,418780,-1.266343,53.663250,13,3,5,3,26/10/2016,4,11:45,206,E08000036,3.0,1.0,3.0,70.0,0.0,-1.0,-1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,E01011849,2,2,0,0,2016,3,9,0,13,0,0,0,0,0,0,2,1,6.0,1.0,8.0,1388.0,1.0,12.0,4.0,1.0,FORD,FUSION 1 16V
61969,2016133AQ0538,448576,418780,-1.266343,53.663250,13,3,5,3,26/10/2016,4,11:45,206,E08000036,3.0,1.0,3.0,70.0,0.0,-1.0,-1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,E01011849,2,2,0,0,2016,4,9,0,13,0,0,0,0,0,0,2,1,6.0,1.0,8.0,1997.0,2.0,-1.0,-1.0,-1.0,FORD,S-MAX TITANIUM SPORT TDCI AUTO
61970,2016133AQ0538,448576,418780,-1.266343,53.663250,13,3,5,3,26/10/2016,4,11:45,206,E08000036,3.0,1.0,3.0,70.0,0.0,-1.0,-1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,E01011849,2,2,0,0,2016,5,9,0,13,0,0,0,0,0,0,2,1,2.0,1.0,6.0,1984.0,2.0,3.0,9.0,1.0,VOLVO,S60 R-DESIGN D3 AUTO
61971,2016133AQ0622,428674,434618,-1.566059,53.807068,13,3,2,2,26/10/2016,4,12:51,204,E08000035,6.0,0.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01011681,1,0,0,0,2016,1,9,0,18,0,2,0,0,0,0,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61972,2016133AQ0622,428674,434618,-1.566059,53.807068,13,3,2,2,26/10/2016,4,12:51,204,E08000035,6.0,0.0,6.0,30.0,3.0,4.0,6.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,E01011681,2,1,0,0,2016,1,9,0,18,0,2,0,0,0,0,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_merged.shape

(61973, 59)

In [ ]:
df_merged.groupby('Date')['Number_of_Casualties'].count().sort_values().sum()

61973

In [ ]:
df_merged.groupby('Casualty_Type')['Number_of_Casualties'].count().sort_values()

KeyError: ignored

In [ ]:
df_merged.groupby('Casualty_Class')['Number_of_Casualties'].count()

Casualty_Class
1    42385
2    13806
3     5782
Name: Number_of_Casualties, dtype: int64

In [ ]:
h = df_merged.groupby('Accident_Index')['Number_of_Casualties', 'Casualty_Type','Vehicle_Type', 'Number_of_Vehicles'].mean()
h

In [ ]:

df_merged.shape

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
#Correlation = df_merged.corr()
#Correlation.loc['Number_of_Casualties'].sort_values()

In [ ]:
df_merged.describe()

In [ ]:
df_merged.info()

In [ ]:
df_merged.isna().sum()

In [ ]:
#def get_casualty(row):
   # if row['Casualty_Class']==1:
       # return 1
   # elif row['Casualty_Class']== 2:
        #return 2

In [ ]:
#pd.set_option('display.max_columns',69)
#df_merged.tail(20)

In [ ]:
##df_merged2 = df_merged.loc[lambda df_merged: df_merged.Casualty_Class >2, :]

In [ ]:
df_merged2 = df_merged.loc[lambda df_merged: df_merged.Casualty_Class <=2, :]

In [ ]:
df_merged2.head()

In [ ]:
df_merged.tail(40)

In [ ]:
df_merged2.groupby('Accident_Index')['Number_of_Casualties'].mean()

In [ ]:
df_merged2.groupby('Accident_Index')['Casualty_Class'].count()

In [ ]:
df = df_merged2.replace(columns={'Casualty_Class_x':'Number_of_Occupants'})

In [ ]:
pd.set_option('display.width', 200)

In [ ]:
df_merged.columns

In [ ]:
new = df_merged[['Accident_Index','Number_of_Casualties','Casualty_Class', 'Car_Passenger', 'Bus_or_Coach_Passenger']]

new.head(100)

,Accident_Index,Number_of_Casualties,Casualty_Class,Car_Passenger,Bus_or_Coach_Passenger
0,2016010X31538,1,1,0,0
1,2016010X31538,1,1,0,0
2,2016010X31762,2,1,0,0
3,2016010X31762,2,1,0,0
4,2016010X31762,2,2,2,0
5,2016010X31762,2,2,2,0
6,201601BS70001,1,3,0,0
7,201601BS70002,1,1,0,0
8,201601BS70002,1,1,0,0
9,201601BS70003,1,2,2,0
10,201601BS70003,1,2,2,0
11,201601BS70004,1,1,0,0
12,201601BS70004,1,1,0,0
13,201601BS70006,1,1,0,0
14,201601BS70006,1,1,0,0
15,201601BS70009,1,3,0,0
16,201601BS70010,1,1,0,0
17,201601BS70010,1,1,0,0
18,201601BS70011,1,1,0,0
19,201601BS70011,1,1,0,0
20,201601BS70014,1,3,0,0
21,201601BS70016,1,3,0,0
22,201601BS70018,1,1,0,0
23,201601BS70018,1,1,0,0
24,201601BS70018,1,1,0,0
25,201601BS70019,1,1,0,0
26,201601BS70019,1,1,0,0
27,201601BS70020,3,1,0,0
28,201601BS70020,3,1,0,0
29,201601BS70020,3,1,0,0
30,201601BS70020,3,1,0,0
31,201601BS70020,3,1,0,0
32,201601BS70020,3,1,0,0
33,201601BS70020,3,2,1,0
34,201601BS70020,3,2,1,0
35,201601BS70020,3,2,1,0
36,201601BS70021,2,1,0,0
37,201601BS70021,2,3,0,0
38,201601BS70022,2,1,0,0
39,201601BS70022,2,1,0,0
40,201601BS70022,2,2,1,0
41,201601BS70022,2,2,1,0
42,201601BS70023,1,3,0,0
43,201601BS70025,1,1,0,0
44,201601BS70025,1,1,0,0
45,201601BS70027,1,1,0,0
46,201601BS70027,1,1,0,0
47,201601BS70028,2,3,0,0
48,201601BS70028,2,3,0,0
49,201601BS70029,1,1,0,0
50,201601BS70029,1,1,0,0
51,201601BS70030,1,2,0,4
52,201601BS70032,1,3,0,0
53,201601BS70033,1,1,0,0
54,201601BS70033,1,1,0,0
55,201601BS70034,1,3,0,0
56,201601BS70037,1,1,0,0
57,201601BS70037,1,1,0,0
58,201601BS70037,1,1,0,0
59,201601BS70038,1,3,0,0
60,201601BS70039,1,1,0,0
61,201601BS70040,2,1,0,0
62,201601BS70040,2,1,0,0
63,201601BS70040,2,1,0,0
64,201601BS70040,2,1,0,0
65,201601BS70041,1,1,0,0
66,201601BS70041,1,1,0,0
67,201601BS70042,1,1,0,0
68,201601BS70042,1,1,0,0
69,201601BS70043,1,1,0,0
70,201601BS70043,1,1,0,0
71,201601BS70044,1,1,0,0
72,201601BS70044,1,1,0,0
73,201601BS70045,2,1,0,0
74,201601BS70045,2,3,0,0
75,201601BS70046,1,1,0,0
76,201601BS70046,1,1,0,0
77,201601BS70047,1,1,0,0
78,201601BS70047,1,1,0,0
79,201601BS70048,1,3,0,0
80,201601BS70049,1,1,0,0
81,201601BS70049,1,1,0,0
82,201601BS70050,1,1,0,0
83,201601BS70050,1,1,0,0
84,201601BS70051,1,3,0,0
85,201601BS70051,1,3,0,0
86,201601BS70053,1,1,0,0
87,201601BS70053,1,1,0,0
88,201601BS70054,1,1,0,0
89,201601BS70054,1,1,0,0
90,201601BS70057,1,3,0,0
91,201601BS70058,1,1,0,0
92,201601BS70058,1,1,0,0
93,201601BS70059,1,2,1,0
94,201601BS70059,1,2,1,0
95,201601BS70060,1,1,0,0
96,201601BS70060,1,1,0,0
97,201601BS70063,1,1,0,0
98,201601BS70063,1,1,0,0
99,201601BS70064,1,1,0,0

In [ ]:
new = new.loc[lambda new: new.Casualty_Class <=2, :]

In [ ]:
new.head(100)

,Accident_Index,Number_of_Casualties,Casualty_Class,Car_Passenger,Bus_or_Coach_Passenger
0,2016010X31538,1,1,0,0
1,2016010X31538,1,1,0,0
2,2016010X31762,2,1,0,0
3,2016010X31762,2,1,0,0
4,2016010X31762,2,2,2,0
5,2016010X31762,2,2,2,0
7,201601BS70002,1,1,0,0
8,201601BS70002,1,1,0,0
9,201601BS70003,1,2,2,0
10,201601BS70003,1,2,2,0
11,201601BS70004,1,1,0,0
12,201601BS70004,1,1,0,0
13,201601BS70006,1,1,0,0
14,201601BS70006,1,1,0,0
16,201601BS70010,1,1,0,0
17,201601BS70010,1,1,0,0
18,201601BS70011,1,1,0,0
19,201601BS70011,1,1,0,0
22,201601BS70018,1,1,0,0
23,201601BS70018,1,1,0,0
24,201601BS70018,1,1,0,0
25,201601BS70019,1,1,0,0
26,201601BS70019,1,1,0,0
27,201601BS70020,3,1,0,0
28,201601BS70020,3,1,0,0
29,201601BS70020,3,1,0,0
30,201601BS70020,3,1,0,0
31,201601BS70020,3,1,0,0
32,201601BS70020,3,1,0,0
33,201601BS70020,3,2,1,0
34,201601BS70020,3,2,1,0
35,201601BS70020,3,2,1,0
36,201601BS70021,2,1,0,0
38,201601BS70022,2,1,0,0
39,201601BS70022,2,1,0,0
40,201601BS70022,2,2,1,0
41,201601BS70022,2,2,1,0
43,201601BS70025,1,1,0,0
44,201601BS70025,1,1,0,0
45,201601BS70027,1,1,0,0
46,201601BS70027,1,1,0,0
49,201601BS70029,1,1,0,0
50,201601BS70029,1,1,0,0
51,201601BS70030,1,2,0,4
53,201601BS70033,1,1,0,0
54,201601BS70033,1,1,0,0
56,201601BS70037,1,1,0,0
57,201601BS70037,1,1,0,0
58,201601BS70037,1,1,0,0
60,201601BS70039,1,1,0,0
61,201601BS70040,2,1,0,0
62,201601BS70040,2,1,0,0
63,201601BS70040,2,1,0,0
64,201601BS70040,2,1,0,0
65,201601BS70041,1,1,0,0
66,201601BS70041,1,1,0,0
67,201601BS70042,1,1,0,0
68,201601BS70042,1,1,0,0
69,201601BS70043,1,1,0,0
70,201601BS70043,1,1,0,0
71,201601BS70044,1,1,0,0
72,201601BS70044,1,1,0,0
73,201601BS70045,2,1,0,0
75,201601BS70046,1,1,0,0
76,201601BS70046,1,1,0,0
77,201601BS70047,1,1,0,0
78,201601BS70047,1,1,0,0
80,201601BS70049,1,1,0,0
81,201601BS70049,1,1,0,0
82,201601BS70050,1,1,0,0
83,201601BS70050,1,1,0,0
86,201601BS70053,1,1,0,0
87,201601BS70053,1,1,0,0
88,201601BS70054,1,1,0,0
89,201601BS70054,1,1,0,0
91,201601BS70058,1,1,0,0
92,201601BS70058,1,1,0,0
93,201601BS70059,1,2,1,0
94,201601BS70059,1,2,1,0
95,201601BS70060,1,1,0,0
96,201601BS70060,1,1,0,0
97,201601BS70063,1,1,0,0
98,201601BS70063,1,1,0,0
99,201601BS70064,1,1,0,0
100,201601BS70064,1,1,0,0
101,201601BS70065,1,1,0,0
102,201601BS70065,1,1,0,0
105,201601BS70070,1,1,0,0
106,201601BS70070,1,1,0,0
107,201601BS70071,1,1,0,0
108,201601BS70071,1,1,0,0
109,201601BS70072,1,1,0,0
110,201601BS70072,1,1,0,0
111,201601BS70073,1,1,0,0
112,201601BS70073,1,1,0,0
113,201601BS70074,2,1,0,0
116,201601BS70078,1,1,0,0
117,201601BS70079,1,1,0,0
118,201601BS70079,1,1,0,0
120,201601BS70081,1,1,0,0

In [ ]:
new = new.loc[lambda new: new.Bus_or_Coach_Passenger <=0, :]

In [ ]:
new.head(100)

,Accident_Index,Number_of_Casualties,Casualty_Class,Car_Passenger,Bus_or_Coach_Passenger
0,2016010X31538,1,1,0,0
1,2016010X31538,1,1,0,0
2,2016010X31762,2,1,0,0
3,2016010X31762,2,1,0,0
4,2016010X31762,2,2,2,0
5,2016010X31762,2,2,2,0
7,201601BS70002,1,1,0,0
8,201601BS70002,1,1,0,0
9,201601BS70003,1,2,2,0
10,201601BS70003,1,2,2,0
11,201601BS70004,1,1,0,0
12,201601BS70004,1,1,0,0
13,201601BS70006,1,1,0,0
14,201601BS70006,1,1,0,0
16,201601BS70010,1,1,0,0
17,201601BS70010,1,1,0,0
18,201601BS70011,1,1,0,0
19,201601BS70011,1,1,0,0
22,201601BS70018,1,1,0,0
23,201601BS70018,1,1,0,0
24,201601BS70018,1,1,0,0
25,201601BS70019,1,1,0,0
26,201601BS70019,1,1,0,0
27,201601BS70020,3,1,0,0
28,201601BS70020,3,1,0,0
29,201601BS70020,3,1,0,0
30,201601BS70020,3,1,0,0
31,201601BS70020,3,1,0,0
32,201601BS70020,3,1,0,0
33,201601BS70020,3,2,1,0
34,201601BS70020,3,2,1,0
35,201601BS70020,3,2,1,0
36,201601BS70021,2,1,0,0
38,201601BS70022,2,1,0,0
39,201601BS70022,2,1,0,0
40,201601BS70022,2,2,1,0
41,201601BS70022,2,2,1,0
43,201601BS70025,1,1,0,0
44,201601BS70025,1,1,0,0
45,201601BS70027,1,1,0,0
46,201601BS70027,1,1,0,0
49,201601BS70029,1,1,0,0
50,201601BS70029,1,1,0,0
53,201601BS70033,1,1,0,0
54,201601BS70033,1,1,0,0
56,201601BS70037,1,1,0,0
57,201601BS70037,1,1,0,0
58,201601BS70037,1,1,0,0
60,201601BS70039,1,1,0,0
61,201601BS70040,2,1,0,0
62,201601BS70040,2,1,0,0
63,201601BS70040,2,1,0,0
64,201601BS70040,2,1,0,0
65,201601BS70041,1,1,0,0
66,201601BS70041,1,1,0,0
67,201601BS70042,1,1,0,0
68,201601BS70042,1,1,0,0
69,201601BS70043,1,1,0,0
70,201601BS70043,1,1,0,0
71,201601BS70044,1,1,0,0
72,201601BS70044,1,1,0,0
73,201601BS70045,2,1,0,0
75,201601BS70046,1,1,0,0
76,201601BS70046,1,1,0,0
77,201601BS70047,1,1,0,0
78,201601BS70047,1,1,0,0
80,201601BS70049,1,1,0,0
81,201601BS70049,1,1,0,0
82,201601BS70050,1,1,0,0
83,201601BS70050,1,1,0,0
86,201601BS70053,1,1,0,0
87,201601BS70053,1,1,0,0
88,201601BS70054,1,1,0,0
89,201601BS70054,1,1,0,0
91,201601BS70058,1,1,0,0
92,201601BS70058,1,1,0,0
93,201601BS70059,1,2,1,0
94,201601BS70059,1,2,1,0
95,201601BS70060,1,1,0,0
96,201601BS70060,1,1,0,0
97,201601BS70063,1,1,0,0
98,201601BS70063,1,1,0,0
99,201601BS70064,1,1,0,0
100,201601BS70064,1,1,0,0
101,201601BS70065,1,1,0,0
102,201601BS70065,1,1,0,0
105,201601BS70070,1,1,0,0
106,201601BS70070,1,1,0,0
107,201601BS70071,1,1,0,0
108,201601BS70071,1,1,0,0
109,201601BS70072,1,1,0,0
110,201601BS70072,1,1,0,0
111,201601BS70073,1,1,0,0
112,201601BS70073,1,1,0,0
113,201601BS70074,2,1,0,0
116,201601BS70078,1,1,0,0
117,201601BS70079,1,1,0,0
118,201601BS70079,1,1,0,0
120,201601BS70081,1,1,0,0
121,201601BS70081,1,1,0,0

In [ ]:
new.shape

(61973, 5)

In [ ]:
new.corr()

,Casualty_Class,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker
Casualty_Class,1.000000,0.407071,0.142975,0.601434
Car_Passenger,0.407071,1.000000,-0.060453,-0.111637
Bus_or_Coach_Passenger,0.142975,-0.060453,1.000000,-0.039210
Pedestrian_Road_Maintenance_Worker,0.601434,-0.111637,-0.039210,1.000000